<h1><%= t('.title') %></h1>

<table class='users-table'>
  <tr>
    <th><%= User.human_attribute_name(:image) %></th>
    <th><%= User.human_attribute_name(:name) %></th>
    <th><%= User.human_attribute_name(:provider) %></th>
    <th><%= User.human_attribute_name(:uid) %></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.image %></td>
    <td><%= user.name %></td>
    <td><%= user.provider %></td>
    <td><%= user.uid %></td>
    <td><%= link_to t('.show_link'), user %></td>
    <td><%= link_to t('.destroy_link.text'), user_path(user), method: :delete, data: { confirm: t('.destroy_link.confirm') } %></td>
  </tr>
<% end %>
</table>
