<p>
  <b><%= User.human_attribute_name(:name) %>:</b>
  <%= @user.name %>
</p>

<p>
  <b><%= User.human_attribute_name(:provider) %>:</b>
  <%= @user.provider %>
</p>

<p>
  <b><%= User.human_attribute_name(:uid) %>:</b>
  <%= @user.uid %>
</p>


<%= link_to t('.link_to_back'), users_path %>
